@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffff;
}
*{
    margin: 0;
    padding: 0;
}
/* header styles */
.header{
    margin: 0 7.5rem;
    /* border: 1px solid black; */
    margin-top: 2.5rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.nav-txt{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu>ul{
    list-style: none;
}
.menu, a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 350px;
    font-size: 1rem;
}
img{
    max-width: 1.5rem;
    max-height: 1.3rem;
}
.list{
    display: flex;
    align-items: center;
    gap: 2.1rem;
    text-align: center;
}
@media screen and (max-width: 576px) {
    .nav, .list{
        flex-direction: column;
    }
}
@media screen and (max-width: 992px) and (min-width: 576px) {
        .nav,.list {
            flex-direction: column;
            }
}